@page
@model Bloggie.web.Pages.AccessDeniedModel
@{
}

<div class="container mt-5 align-items-center">
	<h1 class="text-danger"> 404 Error. Access Denied!</h1>
	<h2>You are not permitted access this Page</h2>
</div>